#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.no-margin {
    margin: 0;
}

.main-content {
  display: flex;
  justify-content: center;
}

.business-card {
  min-width: 40vw;
  width: 50%;
  min-height: 90%;
  background-color: #1A1B21;
  border-radius: 10px;
}

.profile-photo {
  width: 100%;
  border-radius: 10px 10px 0px 0px;

}

.website-link {
  color: gold;
}

.icons-container {
  display: flex;
  justify-content: center;
  gap: 20px;
}

